.not-found {
    text-align: center;
    margin-top: 50px;
  }
  
  .not-found h1 {
    font-size: 5rem;
    color: #ff4f4f;
  }
  
  .not-found p {
    font-size: 1.5rem;
    color: #333;
  }
  
  .home-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background-color: #5870a3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .home-button:hover {
    background-color: #415582;
  }
  