/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
  /* background-color: white;  */
  background: linear-gradient(135deg, #4b5e71 0%, #1c7ddf 100%);
}


